.contact-us-form {
    position: absolute;
    top: 15%;
    width: 100%;
    color: white;
   
  }

.contact-us-img{
    position: relative;
}
.contact-us-container{
    margin-right: 5%;
    
}

.caja__trasera {
    justify-content: left !important;
}

.caja__trasera-login {
    width: 50%;
}

main {
    margin-top: 16vh !important;
}

.contenedor__login-register .formulario__register {
    padding: 35px 20px !important;
}




